body{
    height: 575px;
    width: 775px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:darkcyan;
    color: floralwhite ;
}